th.mat-header-cell {
  background-color: bisque; /* Set your desired background color */
}
td.mat-cell {
  background-color: ivory;
}
.table {
  width: 100%;
}

.striped .mat-row:nth-child(even) {
  background-color: #f2f2f2;
}

.condensed th,
.condensed td {
  padding: 8px;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  text-align: center;
  flex-grow: 1
}

.container {
  padding: 10px;
}
